:root {
  --button-square-radius: 100px;
  --input-button-color: darkgrey;
  --extra-function-button-color: gray;
  --operator-button-color: orange;
}

.noselect > * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 234, 236);
}

.calculator-container {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 32px;
  font-weight: 500;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
}

.calculator-display {
  display: flex;
  flex-grow: 1;
  height: 120px;
  background-color: rgb(92, 92, 92);
  align-items: center;
  justify-content: end;
  font-size: 40px;
  padding-right: 20px;
}

.button-row {
  display: flex;
}


.double-width-button,
.button {
  height: var(--button-square-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(92, 92, 92) 1px;
}

#zero {
  width: 202px;
  flex: 2;
  padding-left: 1px;
}

.button {
  flex: 1;
  width: var(--button-square-radius);
}

.input {
  background-color: var(--input-button-color);
}

.input:hover {
  background-color: rgb(210, 205, 205);
}

.math-functions:hover,
.operator-function:hover {
  background-color: rgb(213, 117, 0);
}

.math-functions,
.operator-function {
  background-color: var(--operator-button-color);
}

.extra-function {
  background-color: var(--extra-function-button-color);
}

.extra-function:hover {
  background-color: var(--input-button-color);
}
.active {
  background-color: rgb(213, 117, 0);
}

.footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}
